<html>
    <head>
        <title>Photo App</title>
    </head>

    <body>
        <h1><a href="">사진 목록 페이지</a></h1>
        <section>
            <div>
                <h2>
                    <a href="">해바라기</a>
                </h2>
                <img src="https://wallpapercave.com/wp/wp4256046.jpg" alt="해바라기", width="300">
                <p>wallpapercave, 100원</p>
            </div>
            <div>
                <h2>
                    <a href="">해바라기 2</a>
                </h2>
                <img src="https://wallpapercave.com/wp/wp4256046.jpg" alt="해바라기", width="300">
                <p>wallpapercave, 100원</p>
            </div>
        </section>
    </body>
</html>